<div>
  <p class="lead">
    Choose your file .CSV from your computer to upload
    <br>
  </p>
  <p class="lead">You can also <a routerLink="" class="alert-link">back!</a> to the begin.</p>
</div>
<div>
  <div>
    <upload-file (dataValueChange)="changeData($event)"></upload-file>
  </div>
  <div *ngIf="salesData.length > 0" style="padding: 1.5%;">
    <span>Vehicle was most sold: </span><span style="font-weight: bold">{{mostSold.key}}</span><span>, Quantity: </span> <span
      style="font-weight: bold"> {{mostSold.qty}} </span>
  </div>
  <div class="table-wrapper-scroll-y">
    <!--Table-->
    <table class="table table-bordered table-striped" *ngIf="salesData.length > 0">
      <!--Table head-->
      <thead>
        <tr>
          <th scope="col">Deal Number</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Dealership Name</th>
          <th scope="col">Vehicle</th>
          <th scope="col">Price</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr *ngFor="let item of salesData">
          <td>{{item.dealNumber}}</td>
          <td>{{item.customerName}}</td>
          <td>{{item.dealershipName}}</td>
          <td>{{item.vehicle}}</td>
          <td>{{item.price | currency: 'CAD'}}</td>
          <td>{{item.date | date: 'M/dd/yyyy'}}</td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>
  <!--Table-->
</div>